<!DOCTYPE html>
{% load static %}
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>密码修改</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
<!--提示弹出框-->
<div class="successbox dialogbox" id="jsSuccessTips">
    <h1>成功提交</h1>
    <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
    <div class="cont">
        <h2>您的需求提交成功！</h2>
        <p></p>
    </div>
</div>
<!--<div class="resetpassbox dialogbox" id="jsSetNewPwd">-->
    <!--<h1>重新设置密码</h1>-->
    <!--<div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>-->
    <!--<p class="green">请输入新密码</p>-->
    <!--<form id="jsSetNewPwdForm">-->
        <!--<div class="box">-->
            <!--<span class="word2">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>-->
            <!--<input type="password" name="password" id="jsResetPwd" placeholder="请输入新密码"/>-->
        <!--</div>-->
        <!--<div class="box">-->
            <!--<span class="word2">确&nbsp;认&nbsp;密&nbsp;码</span>-->
            <!--<input type="password" name="password2" id="jsResetPwd2" placeholder="请再次输入新密码"/>-->
        <!--</div>-->
        <!--<div class="box">-->
            <!--<span class="word2">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span>-->
            <!--<input type="text" name="code" id="jsResetCode" placeholder="请输入手机验证码"/>-->
        <!--</div>-->
        <!--<div class="error btns" id="jsSetNewPwdTips"></div>-->
        <!--<div class="button">-->
            <!--<input type="hidden" name="mobile" id="jsInpResetMobil" />-->
            <!--<input id="jsSetNewPwdBtn" type="button" value="提交" />-->
        <!--</div>-->
        <!--<input type='hidden' name='csrfmiddlewaretoken' value='mymQDzHWl2REXIfPMg2mJaLqDfaS1sD5' />-->
    <!--</form>-->
<!--</div>-->
<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">慕学网，在线学习平台！</p>
            <ul class="fr hd-bar">
                <li>服务电话：<span>33333333</span></li>
                <li><a href="{% url 'register' %}">[注册]</a></li>
                <li class="active"><a href="{% url 'forget_pwd' %}">[忘记密码]</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="hd-login clearfix">
                <a class="index-logo" href="{% url 'index' %}"></a>
                <h1>修改密码</h1>
                <a class="index-font" href="{% url 'index' %}">回到首页</a>
            </div>
            <div class="fl slide">
                <div class="imgslide">
                    <ul class="imgs">
                        <li><a href=""><img width="483" height="472" src="{% static 'images/57a801860001c34b12000460.jpg' %}" /></a></li>
                        <li><a href=""><img width="483" height="472" src="{% static 'images/57a801860001c34b12000460.jpg' %}" /></a></li>
                        <li><a href=""><img width="483" height="472" src="{% static 'images/57a801860001c34b12000460.jpg' %}" /></a></li>
                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>
            <div class="fl form-box">
                <h2>修改密码</h2>
                <form id="reset_password_form" method="post" action="{% url 'modify_pwd' %}" autocomplete="off">
                    <input type='hidden' name='csrfmiddlewaretoken' value='mymQDzHWl2REXIfPMg2mJaLqDfaS1sD5' />
                    <div class="form-group marb8 {% if modify_form.errors.email %}errorput{% endif %}">
                        <label>新 密 码</label>
                        <input type="password" id="pwd" name="password1" value="{{ modify_form.password1.value }}" placeholder="6-20位非中文字符" />
                    </div>
                    <input type="hidden" name="email" value="{{ email }}">
                    <div class="form-group captcha1 marb8 {% if modify_form.errors.email %}errorput{% endif %}">
                        <label>确定密码</label>
                        <input type="password" id="repwd" name="password2" value="{{ modify_form.password2.value }}" placeholder="6-20位非中文字符" />
                    </div>
                    <div class="error btns" id="jsForgetTips">{% for key, error in modify_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>

                    <input type="hidden" name="sms_type" value="1">
                    <input class="btn btn-green" id="jsFindPwdBtn" type="submit" value="提交" />
                    <p class="form-p" style="bottom:40px;">无需修改<a href="{% url 'login' %}"> [直接登录]</a></p>
                <input type='hidden' name='csrfmiddlewaretoken' value='5I2SlleZJOMUX9QbwYLUIAOshdrdpRcy' />
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</section>

<input id="isLogin" type="hidden" value="False"/>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/unslider.js' %}" type="text/javascript"></script>
<script src="{% static 'js/validateDialog.js' %}"  type="text/javascript"></script>
<script src="{% static 'js/login.js' %}"  type="text/javascript"></script>
</body>
</html>



<!--原始HTML-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
	<!--<meta charset="UTF-8">-->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">-->
	<!--<title>密码修改</title>-->
	<!--<link rel="stylesheet" type="text/css" href="/static/css/reset.css">-->
	<!--<link rel="stylesheet" type="text/css" href="/static/css/animate.css">-->
	<!--<link rel="stylesheet" type="text/css" href="/static/css/style.css">-->

<!--<body>-->
<!--<div class="wp">-->
    <!--<div class="resetpassword" id="resetPwdForm">-->
        <!--<h1>修改密码</h1>-->
        <!--<p>已经通过验证，请设置新密码</p>-->
        <!--<form id="reset_password_form" action="modify_pwd" method="post">-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<span class="">新 密 码 ：</span>-->
                    <!--<input type="password" name="password1" id="pwd" placeholder="6-20位非中文字符">-->
                    <!--<i></i>-->
                <!--</li>-->
                <!--<input type="hidden" name="email" value="{{ email }}">-->
                <!--<li>-->
                    <!--<span class="">确定密码：</span>-->
                    <!--<input type="password" name="password2" id="repwd" placeholder="6-20位非中文字符">-->
                    <!--<i></i>-->
                <!--</li>-->
                <!--<li class="button">-->
                    <!--<input type="button" value="提交" onclick="reset_password_form_submit()">-->
                <!--</li>-->
            <!--</ul>-->
            <!--{% csrf_token %}-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="resetpassword" id="reset_password_tips" style="display:none;">-->
        <!--<h1>修改密码成功,请重新登录</h1>-->
        <!--<img class="fl" src="/static/images/check2.png">-->
        <!--<p class="successword">已经成功修改密码，请重新登录</p>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->